<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.vurt.node.server.bean.ApplicationMapper">	
	
<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  TD_APP.id_ ,
		  TD_APP.name ,
		  TD_APP.desc 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="id != null">and TD_APP.id_ = #{id}</if>
	    <if test="name != null">and TD_APP.name = #{name}</if>
	    <if test="desc != null">and TD_APP.desc = #{desc}</if>
</sql>


<!-- ElementName:cache,Generated=true -->
<cache/>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.vurt.node.server.bean.Application">
	insert into TD_APP(
	        <if test="id != null">id_</if>
	        <if test="name != null">,name</if>
	        <if test="desc != null">,desc</if>
		)
	 values (
	         <if test="id != null">#{id,jdbcType=VARCHAR}</if>
	         <if test="name != null">,#{name,jdbcType=VARCHAR}</if>
	         <if test="desc != null">,#{desc,jdbcType=VARCHAR}</if>
	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.vurt.node.server.bean.Application" resultType="int">
		select count(*)
	    from TD_APP 
		 <where>
<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.vurt.node.server.bean.Application">
	update TD_APP
<set>
	<if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
	<if test="desc != null">desc=#{desc,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="id != null">and id_ = #{id}</when>
        <otherwise>and id_ = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.vurt.node.server.bean.Application">
    delete from TD_APP 
where 1=1 and id_ = #{id}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.vurt.node.server.bean.Application" resultMap="ApplicationResult">
	select 
<include refid="column_sql"/>
	    from TD_APP 
		 <where>
<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:ApplicationResult,Generated=true -->
<resultMap id="ApplicationResult" type="com.vurt.node.server.bean.Application">
	<id property="id" column="id_"/>
	<result property="name" column="name"/>
	<result property="desc" column="desc"/>
</resultMap>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into TD_APP (id_,name,desc) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.id,jdbcType = VARCHAR},
		#{entity.name,jdbcType = VARCHAR},
		#{entity.desc,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from TD_APP where id_ in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.id}
</foreach>
</trim>
</delete>

<!-- ElementID:updateBatch,Generated=true -->
<update id="updateBatch" parameterType="com.vurt.node.server.bean.Application">
	<foreach collection="list" item="entity" separator=";">
			update TD_APP
	<set>
	<if test="entity.name != null">name= #{entity.name,jdbcType=VARCHAR},</if>
	<if test="entity.desc != null">desc= #{entity.desc,jdbcType=VARCHAR}</if>
	</set>
		<where>
			<choose>
				<when test="id != null">and id_ = #{id}</when>
				<otherwise>and id_ = </otherwise>
			</choose>
		</where>
	</foreach>
</update>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="ApplicationResult">
	select 
<include refid="column_sql"/>
	    from TD_APP 
		 <where>
<include refid="whereClause_sql"/>
		</where>
</select>






<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="com.vurt.node.server.bean.Application" resultMap="ApplicationResult">
<foreach collection="list" item="entity" separator="intersect">
	select 
<include refid="column_sql"/>
	    from TD_APP 
		 <where>
<include refid="whereClause_sql"/>
		</where>
</foreach>
</select>




<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="string" resultMap="ApplicationResult">
	select 
<include refid="column_sql"/>
	    from TD_APP 
		 where id_ = #{id,jdbcType=VARCHAR}
</select>




<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.vurt.node.server.bean.Application" resultMap="ApplicationResult">
	select 
<include refid="column_sql"/>
	    from TD_APP 
		 <where>
<include refid="whereClause_sql"/>
		</where>
</select>




</mapper>